.question-card{
    width: 50%;
    box-shadow: 0px 4px 4px #0000007f;
    cursor: pointer;
    height: max-content;
    transition: filter 0.2s ease-in;
}
.question-card:hover{
    filter: contrast(1.02);
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: var(--default-color-darkgreen);
}
.answer{
    background-color: rgb(26, 39, 49);
    padding: 0;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-in;
    display: flex;
    justify-content: center;
    align-items: start;
}
.answer p{
    overflow-y: auto;
    padding: 15px;
}
.plus{
    color: var(--default-color-orange);
    scale: 3;
    transition: transform 0.2s ease-in;
}
.turn{
    transform: rotate(45deg);
}
.show{
    height: 200px;
}
.hidden{
    height: 0px;
}

@media (max-width: 600px) {
    .question-card{
        width: 90%;
        height: max-content;
    }   
}