body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  #root {
    height: 2000px; /* Definindo a altura do #root como 2000 pixels */
  }

  :root{
    --default-color-green: #131F29;
    --default-color-darkgreen: #101922;
    --default-color-orange: #EB3E1B;
  }
  